body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading {
    font-size: 4em;
    background-color: #8936b3;
    width: 100%;
    text-align: center;
    height: 1.5em;
    color: white;
    padding-top: 20px;
    max-width: 1200px;
}

#form {
    width: 1200px;
}

form {
    font-size: 26px;
    display: grid;
    padding: 20px 0 20px 0;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: center;
}

.book.input {
    display: grid;
    grid-template-rows: 50px 50px;
    align-items: center;
    justify-content: center;
}

.text {
    appearance: none;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 1em;
    border: #8936b3 solid 1px;
    background-color: #f0d3ff;
    text-align: center;
}

#number:focus,
.text:focus {
    background-color: white;
    outline: none;
}

#number::-webkit-outer-spin-button,
#number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#number {
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 1em;
    border: #8936b3 solid 1px;
    background-color: #f0d3ff;
    text-align: center;
    display: grid;
    justify-self: center;
}

.book {
    width: 1fr;
    text-align: center;
}

.book button {
    width: 150px;
    height: 1.5em;
    background-color: #f0d3ff;
    color: rgb(34, 34, 34);
    font-size: 1em;
    border-radius: 1em;
    border: #8936b3 solid 1px;
    cursor: pointer;
}

.book button:hover {
    background-color: #8936b3;
    color: white;
}

#button {
    display: grid;
    justify-content: center;
    align-self: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showBook {
    border-top: 2px solid #8936b3;
}

#showBook>div {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px;
    font-size: 1.25em;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #8936b3;

}

#showBook>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.readDiv {
    width: 1fr;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
    justify-self: center;
}

#showBook button {
    width: 150px;
    height: 2em;
    background-color: #ffbfbf;
    color: rgba(34, 34, 34, 0.774);
    font-size: 1em;
    border-radius: 1em;
    border: #8936b3 solid 1px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}

#showBook button:hover {
    background-color: #ff0000;
    color: white;
}